@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(90deg, #b3fffd 0, #e3e6ff 50%, #fde5f5 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Montserrat, "Noto Sans KR", "IBM Plex Sans KR", sans-serif;
}

a {
  text-decoration: none;
}

.ann {
  color: #00bbdc;
}

.kohane {
  color: #ff679a;
}
